.Game{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: space-between;
}

.All{
    display:flex;
    flex-direction: column;
    margin-top:5vh;
    background-color:#a37b03;

} 

.ButtonStyle{
    margin: 20px;
}


