.Game{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: space-between;
}
/* .Button-dice-div{ 
 width:30vw;
height: 100vh;
background-color: #3c3f3c;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
} */


