.image1 {
    background-image: url("/src/assets/images/dice1.jpeg");
  }
  .image2 {
    background-image: url("/src/assets/images/dice2.jpeg");
  }
  .image3 {
    background-image: url("/src/assets/images/dice3.jpeg");
  }
  .image4 {
    background-image: url("/src/assets/images/dice4.jpeg");
  }
  .image5 {
    background-image: url("/src/assets/images/dice5.jpeg");
  }
  .image6 {
    background-image: url("/src/assets/images/dice6.jpeg");
  }